{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{%block pagetitle%}
<h1>Student</h1>
{%endblock%}


{%block body%}
<div class="row">
    <div class="col-md-12">
        {%include 'studentheader.html'%}
    </div>
    
    <div class="col-md-6">
        <p>Please fill in the field provided below to make a new entry for a parent</p>
        <form action="{% url 'studentnewentry' %}" class="login-form" method="post">
            {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert"> ×</button>
                        <strong>{{message}}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
            {% csrf_token %}
            {{ form|crispy }}
        
            <div class="form-group">
                <button type="submit" class="btn form-control btn-primary rounded submit px-3">Add/Edit
                    </button>
            </div>
        </form>
    </div>

</div>



{%endblock%}