{% extends 'dashboard.html'%}


{% include 'academicyearheader.html'%}

{% block body%}
<div class="col-xxl-4 col-md-4">
    <div class="card info-card revenue-card">

      <div class="card-body">
        <h5 class="card-title">Students </h5>

        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-currency-dollar"></i>
          </div>
          <div class="ps-3">
            <h6>3,264</h6>
            <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

          </div>
        </div>
      </div>

    </div>
  </div><!-- End Revenue Card -->

  <div class="col-xxl-4 col-md-4">
    <div class="card info-card revenue-card">

      

      <div class="card-body">
        <h5 class="card-title">Classes</h5>

        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-currency-dollar"></i>
          </div>
          <div class="ps-3">
            <h6>3,264</h6>
            <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

          </div>
        </div>
      </div>

    </div>
  </div><!-- End Revenue Card -->

  <div class="col-xxl-4 col-md-4">
    <div class="card info-card revenue-card">

      <div class="card-body">
        <h5 class="card-title">Teachers </h5>

        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-currency-dollar"></i>
          </div>
          <div class="ps-3">
            <h6>3,264</h6>
            <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

          </div>
        </div>
      </div>

    </div>
  </div><!-- End Revenue Card -->

  <div class="col-xxl-4 col-md-4">
    <div class="card info-card revenue-card">

     

      <div class="card-body">
        <h5 class="card-title">Inventory</h5>

        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-currency-dollar"></i>
          </div>
          <div class="ps-3">
            <h6>3,264</h6>
            <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

          </div>
        </div>
      </div>

    </div>
  </div><!-- End Revenue Card -->

  <div class="col-xxl-4 col-md-4">
    <div class="card info-card revenue-card">

      <div class="card-body">
        <h5 class="card-title">Parents</h5>

        <div class="d-flex align-items-center">
          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-currency-dollar"></i>
          </div>
          <div class="ps-3">
            <h6>$3,264</h6>
            <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

          </div>
        </div>
      </div>

    </div>
  </div><!-- End Revenue Card -->

  
  

{%endblock %}