{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{%block pagetitle%}
<h1>Enrolment</h1>

{%endblock%}

{%block body%}
<div class="row">
    <div class="col-md-12">
        {%include 'enrolmentheader.html'%}
    </div>

    <div class="col-md-9">
        <h3>Enrolment Screen </h3>
        <p>Please fill in the field provided below to make a new entry for a </p>
        <form action="{% url 'newentrybulk' %}" class="login-form" method="post" id = "form">
            {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert"> ×</button>
                        <strong>{{message}}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class ="row">
                        <div class="col-md-3">
                            <fieldset>
                                <legend>From:</legend>
                                <select class="form-control" name="classfrom">
                                    {% for class in classes%}
                                        <option value = {{class.id}}>{{class.name}}</option>
                                    {%endfor%}
                                </select>
                                <input class="form-control" type="number"  placeholder="year" name="yearfrom" required>
                                <input class="form-control" type="number"  placeholder="term" name="termfrom" required>
        
                            </fieldset>
    
                        </div  >
    
                        <div class="col-md-3">
                            <fieldset>
                                <legend>To:</legend>
                                <select class="form-control" name="classto">
                                    {% for class in classes%}
                                        <option value = {{class.id}}>{{class.name}}</option>
                                    {%endfor%}
                                </select>
                                <input class="form-control" type="number"  placeholder="year" name="yearto" required>
                                <input class="form-control" type="number"  placeholder="term" name="termto" required>
        
                            </fieldset>
                        </div>

                    </div>
                    
                    

                    
            {% csrf_token %}
            {{ form|crispy }}
            
            <div class="form-group col-md-6">
                <button type="submit" class="btn form-control btn-primary rounded submit px-3">Enrol
                    </button>
            </div>
        </form>
    </div>

</div>





{%endblock%}