{% extends 'dashboard.html' %}

{%block pagetitle%}
<h1>Class</h1>

{%endblock%}

{%block body%}

<section>
    <div class="row">
        <div class="col-md-12">
            {%include 'classheader.html'%}
        </div>

        <div class="col-md-12">
            <div class="search-bar">
                <form action = "search" class="search-form d-flex align-items-center" method="POST" >
                    {% csrf_token %}
                    <input class="form-control form-control-sm" style="width: 100%;" type="text" name="searchkey" placeholder="Classes Id / Name" title="Enter search keyword">
                  <button type="submit" title="Search" style="margin-bottom: 20px;"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End Search Bar --><br>
        </div>
        
        <div class="col-md-12">
            
                {%if parents|length == 0%}
                <h1>No Data Found </h1>
                {%else%}
               
                <table class="table">
                    <tr>
                        <th>Class No</th>
                        <th>Date Created</th>
                        <th>Name:</th>
                        <th>Label:</th>
                        <th>Actions:</th>
                    </tr>
                {% for parent in parents%}
                <tr>
                    <td>{{parent.classNo}}</td>
                    <td>{{parent.createdAt}}</td>
                    <td>{{parent.name}}</td>
                    <td>{{parent.label}}</td>
                    <td><a href="/dashboard/class/delete/{{parent.id}}"><button class =" btn btn-danger btn-sm">Delete</button></a> &nbsp<a href="/dashboard/class/edit/{{parent.id}}"><button class = "btn btn-secondary btn-sm">Edit</button></a></td>
                </tr>
                {%endfor%}
                {%endif%}

            </table>
          </div><!-- End Search Bar -->
    </div>
</section>


{%endblock%}