{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{%block pagetitle%}
<h1>Settings</h1>

{%endblock%}


{%block body%}
<div class="row">
    <div class="col-md-12">
        {%include 'header.html'%}
    </div>

    <div class="col-md-6">
        <h3>Academic Cadender Settings  Screen </h3>
        <p>Please fill in the field provided below to set academic calender</p>
        <form action="{% url 'settings' %}" class="login-form" method="post">
            {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert"> ×</button>
                        <strong>{{message}}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
            {% csrf_token %}
            {{ form|crispy }}
        
            <div class="form-group">
                <button type="submit" class="btn form-control btn-primary rounded submit px-3">Change
                    </button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="search-bar">
            <form action = "search" class="search-form d-flex align-items-center" method="POST" >
                {% csrf_token %}
                <input class="form-control form-control-sm" style="width: 100%;" type="text" name="searchkey" placeholder="Year / Term" title="Enter search keyword">
              <button type="submit" title="Search" style="margin-bottom: 20px;"><i class="bi bi-search"></i></button>
            </form>
          </div><!-- End Search Bar --><br>

        {%if settings|length == 0%}
                <h4>No Data Found </h4>
                {%else%}
               
                <table class="table">
                    <tr>
                        <th>No:</th>
                        <th>Year</th>
                        <th>Term:</th>
                        <th>Status:</th>
                        <th>Actions:</th>
                    </tr>
            
                {% for setting in settings%}
                <tr>
                    <td>{{setting.id}}</td>
                    <td>{{setting.year}}</td>
                    <td>{{setting.term}}</td>
                    <td>{{setting.status}}</td>
                    <td><a href="/dashboard/settings/delete/{{setting.id}}"><button class =" btn btn-danger btn-sm">Delete</button></a> &nbsp<a href="/dashboard/settings/edit/{{setting.id}}"><button class = "btn btn-secondary btn-sm">Edit</button></a></td>
                </tr>
                {%endfor%}
                {%endif%}

            </table>

    </div>

</div>



{%endblock%}