<div class="">
    <a href="{% url 'newentrypayment' %}"><button class="btn btn-primary">New Entry</button></a>
    <!-- <a href="{% url 'filterfee' %}"><button class="btn btn-success" >Filter</button></a> -->
    <a href="#"><button  onclick="printJS({'printable':'paymentreceiptsection', 'type':'html','css':'https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css'})" class="btn btn-secondary">Print</button></a>
    <!-- <a href="#"><button onclick="window.print()" class="btn btn-secondary">Subject Assignment</button></a> -->
</div><!-- End Search Bar --><br>