{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Sign In</title>
{%endblock%}

{%block content%}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap py-5">
                   
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert"> ×</button>
                        <strong>{{message}}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <h3 class="mb-0">Sign In</h3>
                    <p>Let get sign in to explore more.</p>
                    <form action="{% url 'signin' %}" class="login-form" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <button type="submit" class="btn form-control btn-primary rounded submit px-3">Sign
                                In</button>
                        </div>
                    </form>
                    <div class="w-100 text-center mt-4 text">
                        <p class="mb-0">Don't have an account ? <span><a href="{% url 'signup' %}">sign up</a></span></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}
