{% extends 'dashboard.html' %}

{%block pagetitle%}
<h1>Bill</h1>

{%endblock%}

{%block body%}

<section>
    <div class="row">
        <div class="col-md-12">
            {%include 'billheader.html'%}
        </div>

        <div class="col-md-12">
            <div class="search-bar">
                <form action = "{% url 'searchbill' %}" class="search-form d-flex align-items-center" method="POST" >
                    {% csrf_token %}
                    <input class="form-control form-control-sm" style="width: 100%;" type="text" name="searchkey" placeholder="Billing Id / student name" title="Enter search keyword">
                  <button type="submit" title="Search" style="margin-bottom: 20px;"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End Search Bar --><br>
        </div>
        
        <div class="col-md-12">
            
                {%if parents|length == 0%}
                <h3>No Data Found </h3>
                {%else%}
               
                <table class="table">
                    <tr>
                        <th>Bill No</th>
                        <th>Date Created</th>
                        <th>Student Name:</th>
                        <th>Fee Type:</th>
                        <th>Amount:</th>
                        <th>Actions:</th>
                    </tr>
                {% for parent in parents%}
                <tr>
                    <td>{{parent.billNo}}</td>
                    <td>{{parent.createdAt}}</td>
                    <td>{{parent.student.firstname |add:" " | add:parent.student.middlename | add:" " | add:parent.student.lastname}}</td>
                    <td>{{parent.fees.name}}</td>
                    <td>{{parent.amount}}</td>
                    <td><a href="/dashboard/bill/delete/{{parent.id}}"><button class =" btn btn-danger btn-sm">Delete</button></a> &nbsp<a href="/dashboard/bill/edit/{{parent.id}}"><button class = "btn btn-secondary btn-sm">Edit</button></a></td>
                </tr>
                {%endfor%}
                {%endif%}

            </table>
          </div><!-- End Search Bar -->
    </div>
</section>


{%endblock%}