<div class="">
    <a href="{% url 'newentrysinglebill' %}"><button class="btn btn-primary">Single Entry</button></a>
    <a href="{% url 'newentrybulkbill' %}"><button class="btn btn-primary">Bulk Entry</button></a>
    <a href="{% url 'filterbill' %}"><button class="btn btn-success" >Filter</button></a>
    <a href="#"><button onclick="window.print()" class="btn btn-secondary">Print</button></a>
    <!-- <a href="#"><button onclick="window.print()" class="btn btn-secondary">Subject Assignment</button></a> -->
</div><!-- End Search Bar --><br>